<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55887808694-vs0cls5iq3gr8snuduql0gnq9tbeontr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55887808694-vs0cls5iq3gr8snuduql0gnq9tbeontr</string>
	<key>API_KEY</key>
	<string>AIzaSyC8ex8ieoIxGg9oPOgRtqmIi2y-B24EY2k</string>
	<key>GCM_SENDER_ID</key>
	<string>55887808694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>auth-5251c</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-5251c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55887808694:ios:91dc65675678295025be17</string>
</dict>
</plist>